body,html{
    font-family: var(--font-primary);
    padding: 0;
    margin: 0;
}

:root {
    --font-primary: Arial, Helvetica, sans-serif;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --text-h1: 20pt;
    --text-h2: 15pt;
    --text-small: 12pt;
    --transition-time: 0.5s;
    --scale:1.2;
    --opacity:0.5;
}

.buttonPack{
    display: flex;
    padding-right: 20px;
    gap: 10px;
}

.contactButton{
    display: flex;
    align-items: center;
}

.contactButton button{
    color: var(--color-white);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap:3px;
    padding-right: 5px;
    font-size: var(--text-small);
}

.contact{
    padding-top: 2px;
    text-decoration: none;
    font-size:9pt;
}

.languageButton button:hover,
.contactButton button:hover{
    transition: var(--transition-time);
    scale: var(--scale);
    opacity:var(--opacity);
}

.languageButton button{
    color: var(--color-white);
    margin-top: 5px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer; 
    font-size: var(--text-small);
}

.searchBar{
    width: 15vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--color-black);
    opacity: var(--opacity);
}

.searchBar input{
    color: var(--color-white);
    width:80%;
    background-color: transparent;
    border: none;
    outline: none;
}
.searchBar input::placeholder{
    color: var(--color-white);
}

.searchBar button{
    color: var(--color-white);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.searchBar button:hover{
    scale: 1.1;
}
