body, html{
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #1E293B;
    --text-large: 3rem;
    --text-medium:1.5rem;
    --text-small: 1rem;
    --text-smaller: 0.85rem;
}

.videosBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    margin-bottom: 5vh;
    background-color:var(--background-color);
}

.videosBody h1,h2{
    font-family: var(--font-primary);
    color: var(--color-white);
}
.videosBody h1{
    margin-top: 5vh;
    font-size: var(--text-large);
}
.videosBody h2{
    font-size: var(--text-small);
}

main{
    margin-top: 5vh;
    display: flex;
}

.main-content{
    width: 70vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.videos-content{
    display: flex;
    width: 98%;
    height: 32%;
    background-color: #354358;
    align-items:flex-start;
    justify-content: space-between;
}

.videos-content h1{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    color: var(--color-white);
    font-size: var(--text-small);
}

.videos-content p{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin: 5vh;
    width: 30%;
    color: var(--color-white);
    font-size: var(--text-smaller);
    font-weight: 500;
}

.video-content{
    position: relative;
    margin-top: 3vh;
    margin-left: 2vw;
    width: 19.9%;
    height: 70%;
    background-color: var(--background-color);
}

.video-content iframe {
    position: absolute;
    width:100%;
    height:100%;
    border: none;
    scale:0.94;
}


