@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Variáveis */
:root {
    --font-primary: 'Open Sans', sans-serif;
    --color-primary: #326789;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --text-h1: 3rem;
    --text-h2: 1.5rem;
    --text-p: 1rem;
    --transition-time: 0.5s;
    --box-shadow-hover: 0px 3px 8px rgba(0, 0, 0, 0.24);
}
/* definições globais */
body, html{
    margin:0;
    padding: 0;
    font-family: var(--font-primary);
}

.carouselBody{
    width:100%;
    height:80%;
    display: flex;
    padding: 5vh 0;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    font-family:var(--font-primary);
    background-color:var(--color-white);
}

.carouselBody h1{
    font-weight:bolder;
    text-align: center;
    font-size:var(--text-h2);
    color: var(--color-primary);
}
.carouselBody h2{
    text-align: center;
    font-size: var(--text-h1);
    color:var(--color-black);
    font-weight:600;
    line-height:1em;   
}

.carouselBody h2:hover,
.carouselBody h1:hover,
.carouselBody p:hover{
    cursor:default;
}



.swiper-slide.swiper-slide-active{
    margin-bottom:100px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper{
    background-color:var(--color-white);
    justify-content: center;
    align-items: center;
    width:77%;
    height:90%;
    border-radius: 15px;

}

.slidePage{
    padding: 15vh 0 0 50px;
    width: 90%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-content{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 80%;
    background-color:var(--color-primary);
}
.text-content h1{
    text-align: center;
    font-size: var(--text-h1);
    color: var(--color-white);
}

.text-content p{
    text-align: center;
    margin-bottom:5vh;
    font-size: var(--text-p);
    color: var(--color-white);
}

.imgSlide1{
    width: 38%;
    height: 100%;
}

.imgSlide2{
    width: 39%;
    height: 100%;
}

.imgSlide3{
    width: 50%;
    height: 120%;
}
/* hover das imagens do slide */
.imgSlide1:hover,
.imgSlide2:hover,
.imgSlide3:hover{
    transition: 0.5s;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
}









